:root {
    --background-img-width: 100%;
    --background-img-height: calc(var(--background-img-width) * 9/16);
}

html {
    font-size: 16px;
    line-height: 1em;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
}

body {
    background-color: rgba(24, 24, 24, 0.95);
    margin: 0;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #fffffe;
    height: fit-content;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    column-gap: 1em;
}

.title_page {
    position: relative;
}

.title_page__img {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.title_page__text {
    position: absolute;
    z-index: 2;
    top: 0;
}

.wrapper {
    width: fit-content;
    height: fit-content;
}

