@import url('https://fonts.googleapis.com/css2?family=Meddon&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

html {
    font-size: 16px;
    line-height: 1em;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

body {
    background-color: rgba(24, 24, 24, 0.95);
    margin: 0;
}

.grid_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
}

.grid_wrapper__item--img {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid_wrapper__item--details {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid_wrapper__item--paragraph {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.main {
    box-sizing: border-box;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.main__img {
    width: 100%;
}

.navigation {
    /*display: flex;
    flex-direction: row;
    justify-content: flex-end; */
    background-color: #fffffe;
    height: fit-content;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    
}

.navigation__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 1em;
}

.navigation__item {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    color: rgba(24, 24, 24, 0.95);
    padding: 0.5em;
    border-radius: 20px;
    
}

.navigation__item--background_opacity {
    background-color: #fffffe;
    transition: background-color 0.2s ease-in-out;
}

.navigation__item--background_opacity:hover {
    background-color: rgba(24, 24, 24, 0.15);
    transition: background-color 0.2s ease-in-out;
}

.navigation__item--title {
    font-family: "Meddon", cursive;
    font-size: 1.618em;
    line-height: 1em;
    float: left;
    padding: 0;
    opacity: 100%;
    transition: none;
    transition: opacity 0.2s ease-in-out;
}

.navigation__item--title:hover {
    opacity: 25%;
    transition: none;
    transition: opacity 0.2s ease-in-out;
}

.navigation__item--invisible {
    display: none;
}

.navigation__item--visible {
    display: block;
}

.static_page__title {
    font-family: "Winky Rough", sans-serif;
    font-weight: 400;
    font-size: 4.235em;
    color: #fffffe;
    text-align: center;
    text-transform: uppercase;
}

.static_page__paragraph {
    font-size: 1.618em;
    line-height: 1em;
    color: #fffffe;
    opacity: 80%;
}

.title_page {
    position: relative;
    max-width: 100%;
}

.title_page__img {
    position: relative;
    max-width: 100%;
    height: auto;
    z-index: 1;
}

.title_page__text {
    position: absolute;
    z-index: 2;
    top: 0;
    font-size: 6.856em;
    line-height: 1em;
    font-family: "Meddon", cursive;
    color: #fffffe;
}

.works {
    margin-left: 2em;
    margin-right: 2em;
    position: relative;
    bottom: 11.09em;
    z-index: 2;
    padding: 0;
}

.wrapper {
    width: fit-content;
    height: fit-content;
}

.wrapper--works {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    width: 100%;
    padding: 0;
    list-style: none;
}

.works__title {
    font-size: 4.235em;
    font-family: "Winky Rough", sans-serif;
    font-weight: 400;
    color: #fffffe;
    line-height: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

.works__img {
    width: 100%;
    border-radius: 20px;
}

.works__img__wrapper {
    position: relative;
    width: 20%;
    opacity: 85%;
}

.works__img__wrapper:hover {
    bottom: 10px;
    opacity: 100%;
}